.navbar {
  height: 56px;
  border-bottom: 1px solid #f0f0f0;

  .logo {
    float: left;
    width: 100px;
    height: 56px;
    background: url(../../assets/img/logo.png) no-repeat;
    background-size: contain;
  }

  .menu {
    margin: 0 auto;
    width: 70vw;
    height: 100%;
    // line-height: 56px;

    ul {
      overflow: hidden;

      li {
        margin-right: 10px;
        float: left;

        .tab {
          display: inline-block;
          padding: 15px;
          line-height: 26px;
          color: #333;
          text-decoration: none;

          &.active {
            color: #ea6f5a;
          }
        }

        .slide-enter {
          input, .searchIcon {
            transition: all 0.3s ease-in;
          }
        }

        .slide-exit {
          input, .searchIcon {
            transition: all 0.3s ease-out;
          }
        }

        .search {
          margin-top: 9px;
          position: relative;

          &.focused {
            input {
              width: 160px;
            }

            .searchIcon {
              background: #969696;

              .iconfont {
                color: #fff;
              }
            }
          }

          input {
            padding: 0 40px 0 20px;
            width: 100px;
            height: 38px;
            font-size: 14px;
            border: 1px solid #eee;
            border-radius: 40px;
            outline: none;
            background: #eee;

            &::placeholder {
              color: #969696;
            }
          }

          .searchIcon {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;

            .iconfont {
              color: #969696;
            }
          }
        }
      }
    }
  }
}

div {
  // background: #fff
}